PORT=3010
NODE_ENV=test

DATABASE_URL=postgresql://user:passwordf@localhost:5432/db
TEST_DATABASE_URL=postgresql://test:test@localhost:5433/db_test
DATABASE_PORT=5433

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

JWT_SECRET=your_super_test_key_here